/*!
  * Item: Kitzu
  * Description: Personal Portfolio Template
  * Author/Developer: Exill
  * Author/Developer URL: https://themeforest.net/user/exill
  * Version: v2.0.0
  * License: Themeforest Standard Licenses: https://themeforest.net/licenses
  */

/*----------- ADD YOUR CUSTOM CSS STYLES BELOW -----------*/

.carousel {
  width: 400px;
  height: 500px;
  overflow: hidden;
  margin: 0 auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 100%;
  display: none;
  transition: opacity 1;
  animation: fade-in-right 1s forwards;
}

@keyframes fade-in-right {
  from { right: 100%; opacity: 0;}
  to { right: 0; opacity: 1;}
}

.carousel img.active {
  animation: fade-out-left 1s forwards;
}

@keyframes fade-out-left {
  from { right: 0; opacity: 1;}
  to { right: -100%; opacity: 0;}
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .carousel {
    display: none;
  }

@media (max-width: 991.98px) {
  .carousel {
    display: none;
  }
}

@media (max-width: 767.98px) {
  .carousel {
    display: none;
  }
}

@media (max-width: 575.98px) {
  .carousel {
    display: none;
  }
}
